*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/outputs
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/private/*
/storage/app/public/chat/*
/storage/app/public/offers/*
/storage/app/public/rfqs/*
/storage/app/public/seller-verifications/*
/storage/app/tmp_ocr_test.png
/storage/logs/*.log
/storage/pail
/temp_import_test.csv
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
